.ntk-marker {
  width: 4em;
  height: 100%;
}

.ntk-marker-active {
  font-size: 1em;
  padding-left: 0;
  padding-top: 0.4em;
}

.ntk-highlighter:before{
  font-family: 'FontAwesome';
  content: '\f040';
}

.ntk-disable-control {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.ntk-board {
  height: 0.3em;
  background-color: transparent !important;
  margin: 0;
  width: 100%;
  position: absolute;
}

.ntk-marks {
  width: 100%;
  height: 0.3em;
}

.ntk-marks li {
  min-width: 3px;
  height: 0.3em;
  background-color: yellow;
  list-style: none;
  margin: 0;
  position: absolute;
}

.ntk-activeMark {
  
}

